// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #A14F80;

$heavy-color:    rgba(255, 255, 255, 1);
$light-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-google-calendar {

  background-color: $background-color;

  h1 {
    color: $light-color;
  }

  .event-container {
    overflow: hidden;
    padding: 10px;
    text-align: left;
    margin-bottom: 2em;
  }

  .title {
    color: $heavy-color;
    font-size: 1.5em;
    width: 100%;
    overflow: hidden;
    text-overflow: elipsis;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .start {
    color: $light-color;
    font-size: 1em;
  }
}
