// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #444;

$color-success: rgba(54, 188, 112, 1);
$color-success-tint: rgba(54, 188, 112, 0.8);

$color-failure: rgba(241, 84, 60, 1);
$color-failure-tint: rgba(241, 84, 60, 0.8);

$tail-height: 200px;

$heavy-color: rgba(255, 255, 255, 1);
$dark-color: rgba(0, 0, 0, 1);
$light-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------

.widget-jenkins-status {
  background-size: 340px 340px ;
  background-position-y: 24px;
  background-position-x: 24px;
  background-color: $background-color;
  background-repeat: no-repeat;
  color: black;

  &.success {
    background-color: $color-success;
    background-image:
    -webkit-linear-gradient(top, $color-success-tint, $color-success-tint),
    url('/assets/opsmanager.png');
  }

  &.failure {
    background-color: $color-failure;
    background-image:
    -webkit-linear-gradient(top, $color-failure-tint, $color-failure-tint),
    url('/assets/opsmanager.png');
  }

  .project-status {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    color: $dark-color;

    .project-updated{
      font-size: 2em;
    }
  }

  .project-name{
    font-size: 59px;
    color: $heavy-color;
  }

  .project-info{
    color: $dark-color;

    .author {
      font-weight: bold;
    }
  }

  .project-history{
    position: absolute;
    bottom: 27px;
    left: 27px;
    text-align: center;

    .project-history-item{
      float: left;
      position: relative;
      margin: 2px;
      background-color: $light-color;
      width: 63px;
      height: 63px;

      &.success {
        color: $color-success;
      }

      &.failure {
        color: $color-failure;
      }

      i {
        font-size: 2em;
        line-height: 63px;
      }
    }
  }

  .updated-at{
    font-size: small;
    opacity: 0.4;
  }
}
