// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #444;
$color-success: #36BC70;
$color-failure: #F1543C;

$tail-height: 200px;
$heavy-color: rgba(255, 255, 255, 1);
$dark-color: rgba(0, 0, 0, 1);
$light-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------

.widget-jenkins-status {
  background-color: $background-color;
  background-repeat: no-repeat;
  color: black;

  img {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.05;
  }

  &.success {
    background-color: $color-success;
  }

  &.failure {
    background-color: $color-failure;
  }

  .project-status {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    color: $dark-color;

    .project-updated{
      font-size: 2em;
    }
  }

  .project-name{
    font-size: 59px;
    color: $heavy-color;
  }

  .project-info{
    color: $dark-color;

    .author {
      font-weight: bold;
    }
  }

  .project-history{
    position: absolute;
    bottom: 0;
    left: 1;
    text-align: center;

    .project-history-item{
      float: left;
      position: relative;
      margin: 2px;
      background-color: $light-color;
      width: 63px;
      height: 63px;

      &.success {
        color: $color-success;
      }

      &.failure {
        color: $color-failure;
      }

      i {
        font-size: 2em;
        line-height: 63px;
      }
    }
  }

  .updated-at{
    font-size: small;
    opacity: 0.4;
  }
}
