// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #444;
$background-color-success: #35d6ab;
$background-color-failure: #f17f78;

$tail-height: 200px;

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------

.widget.widget-jenkins-status {
  padding: 0;
  vertical-align: top;
}

.widget-jenkins-status {
  background-color: $background-color;
  background-repeat: no-repeat;
  color: black;

  &.success {
    background-color: $background-color-success;
    .project-name{
      background-color: #1B9173;
      border-bottom: 2px solid #20B189;
    }
  }

  &.failure {
    background-color: $background-color-failure;
    .project-name{
      background-color: #b22521;
      border-bottom: 2px solid #DF342F;
    }
  }

  .project-status {
    margin-top: 10px;
  }

  .project-name{
    font-weight: bold;
    font-size: 44px;
    padding: 15px 0;
    color: white;
  }

  .project-updated{
    font-size: 30px; }

  .duration{
    font-size: small;}

  .project-info{
    font-size: small;

    .author{
      font-weight: bold; }

    .comment{
      margin: 4px 0;
      white-space: pre-wrap;}}

  .project-history{
    display: inline-block;
    margin-top: 25px;
    text-align: center;

    .project-history-item{
      float: left;
      position: relative;
      margin: 2px;
      background-color: rgba(255, 255, 255, 0.5);

      i {
        display: block;
        width: 22px;
        height: 22px;
      }
    }
  }

  .updated-at{
    font-size: small;
    opacity: 0.4;
  }
}
