// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$night-text: #fff;
$day-text: #fff;

$night-background: none; // #12AFC1;
$day-background: none; //#EBC142;

$location-color: rgba(235, 193, 66, 0.8);
$primary-color:  rgba(235, 193, 66, 1);
// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget.widget-world-clock {
  font-size: 1.5em;
  padding-top: 55px;

  > ul li {
    box-sizing: border-box;
    display: inline-block;

    &.top {
      margin-top: -110px;
    }

    &.primary {
      font-size: 2em;
      margin-top: -145px;

      .location {
        margin-bottom: -10px;
      }
    }
  }

  .hours {
    width: 98%;

    li {
      background: $day-background;
      color: $day-text;
      width: 4.16%;

      &:not(:last-child) {
        // border-right: 1px solid;
      }
    }

    .dark {
      background: $night-background;
      color: $night-text;
    }
  }

  .locations {
    text-align: left;

    li {
      position: absolute;
    }

    .placeholder {
      height: 30px;
      width: 2px;
      background: white;
    }

    .label {
      position: relative;
      color: $location-color;

      .location {
        margin-left: -50%;

        &.local {
          color: $primary-color;
        }
      }

      .minute {
        position: absolute;
        top: 0;
      }
    }
  }
}
